<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back myBack">返回</a>
		</div>
		<div class="center sliding">访问记录</div>
	</div>
</div>
<div class="pages">
	<div data-page="infoBook" class="page no-navbar" id="infoBook">

		<div class="setting-header">
			<div class="part" :style="{backgroundColor: setting_header.friend.background, color: setting_header.friend.color}" @click="changeMode('0')">好友</div>
			<div class="part" :style="{backgroundColor: setting_header.mine.background, color: setting_header.mine.color}" @click="changeMode('1')">我的</div>
		</div>
		<div class="setting-swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"></div>
				<div class="swiper-slide"></div>
			</div>
		</div>

	</div>
</div>