<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back myBack">返回</a>
		</div>
		<div class="center sliding">好友列表</div>
	</div>
</div>
<div class="pages">
	<div data-page="friend" class="page no-navbar" id="friend">

		<form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
			<div class="searchbar-input">
				<input type="search" placeholder="搜索">
				<a href="#" class="searchbar-clear"></a>
			</div>
			<a href="#" class="searchbar-cancel">取消</a>
		</form>

		<div class="searchbar-overlay"></div>

		<div class="page-content">
			<div class="content-block searchbar-not-found">
				<div class="content-block-inner">没有找到</div>
			</div>
			<div class="list-block list-block-search searchbar-found">
				<ul>
					<li class="friend_item" v-for="people in friendList">
						<div class="head_img">
							<div class="img">
								<img :src="people.headimgurl"></div>
						</div>
						<div class="item-title" v-text="people.nickName"></div>
						<div class="friend_input">
							<label class="label-switch">
								<input type="checkbox" v-model="people.isControl" @click="click(people, $index)">
								<div class="checkbox"></div>
							</label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>